h1 {
  text-align: center;
  /*font-family: 'Pacifico', cursive;*/
}

body {
/*  font-family: 'Orbitron', sans-serif;
*/}

.flexContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  transition: 0.9s;
  transform-style: preserve-3d; /*<<IMPORTANT*/
  backface-visibility: hidden;
}

.card, .front, .back {
  width: 211px;
  height: 299px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  background-color: salmon;
  background: url(../assets/cardBack.jpg) 0 0 no-repeat;
  background-position: center;
}

.back {
  transform: rotateY(180deg);
  background-color: red;
  background-position: center;
}